SECRET_KEY = 'your-secret-key'
TIME_ZONE = 'Asia/Ho_Chi_Minh'
USE_REMOTE_USER_AUTHENTICATION = True
DATABASES = {
    'default': {
        'NAME': 'graphite',
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'USER': 'graphite',
        'PASSWORD': 'Ec0net@!2017',
        'HOST': '127.0.0.1',
        'PORT': ''
    }
}